body{
    margin-top: 40px;
    text-align:center;
    background-color: antiquewhite;
}
.arrows{
    width: 10%;
}
.photos{
    width: 35%;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
