*{
    box-sizing:border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color:brown;
    background-color: bisque;

}
header, main{
    width: 60%;
    margin: 40px auto;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 100%;
}
.navigation{
    display: flex;
    justify-content: space-around;
}
.blog{
    display: flex;
    margin-top: 40px;   
    padding-right: 10%; 
}
hr{ 
    background-color: brown;  
    height: 4px;
}